{
    "env": {
        "es6": true,
        "node": true
    },
    "plugins": [
        "prettier"
    ],
    "extends": [
        "prettier",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "rules": {
        "no-confusing-arrow": "warn",
        "max-len": [
            "warn",
            {
                "code": 120,
                "ignoreUrls": true
            }
        ],
        "curly": [
            "warn",
            "multi"
        ],
        "quotes": [
            "warn",
            "single",
            {
                "allowTemplateLiterals": true,
                "avoidEscape": true
            }
        ],
        "semi": [
            0
        ],
        "no-var": "error",
        "no-unused-vars": "warn",
        "no-console": "off",
        "prettier/prettier": [
            "warn",
            {
                "useTabs": false,
                "semi": true,
                "tabWidth": 2,
                "trailingComma": "all",
                "no-unexpected-multiline": true,
                "singleQuote": true,
                "allowParens": "off",
                "parser": "flow"
            }
        ],
        "no-mixed-spaces-and-tabs": "off",
        "babel/new-cap": 1,
        "babel/camelcase": 1,
        "babel/no-invalid-this": 1,
        "babel/object-curly-spacing": 0,
        "babel/quotes": [
            "warn",
            "single",
            {
                "allowTemplateLiterals": true,
                "avoidEscape": true
            }
        ],
        "babel/semi": 0,
        "babel/no-unused-expressions": 1,
        "babel/valid-typeof": 1,
        "lines-around-comment": [
            "warn",
            {
                "beforeBlockComment": false,
                "afterBlockComment": true,
                "beforeLineComment": true,
                "afterLineComment": true,
                "allowBlockStart": true,
                "allowBlockEnd": true,
                "allowObjectStart": true,
                "allowObjectEnd": true,
                "allowArrayStart": true,
                "allowArrayEnd": true
            }
        ],
        "no-unexpected-multiline": "warn"
    }
}